<html>
    {% load static %} 
<head>
    <title>{% block title %}{% endblock %}</title>
	<meta charset="big-5" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <script type='text/javascript'>
        function oAuth2() {
            
            var strEmail =  document.getElementById("emailsc").value
            var emailRule = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/;
 
            //validate ok or not
            if(strEmail.search(emailRule)!= -1){
                alert("email正確"); 
            }else{
                showAlert();
            }
            
            
		    var vemail = document.getElementById("emailsc").value
            var URL = 'https://notify-bot.line.me/oauth/authorize?';
            URL += 'response_type=code';
            URL += '&client_id=nch5lTjwJmgdHwx5Ar4oaJ';
            URL += '&redirect_uri=https://test-pro-tiomor4n.c9.io/index/';
            URL += '&scope=notify';
            URL += '&state=';
			URL += vemail;
            //window.location.href = URL;
			alert(URL);
        }
        
        function showAlert(){
            $("#myAlert").addClass("in")
        }
        
        function teststart(){
            document.getElementById("linecode").value = 'test';
        }
        document.ready(showemail);
        
        function showemail(){
            document.getElementById("email").value =  getParameterByName('state',window.location);
        }
        
        function showcode(){
              document.getElementById("mytextbox").value = getParameterByName('code',window.location);
        };
        
        function getParameterByName(name, url) {
            if (!url) {
                url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
        
        (window).scroll(function() {
            (".slideanim").each(function(){
                var pos = (this).offset().top;
                var winTop = (window).scrollTop();
                if (pos < winTop + 600) {
                    (this).addClass("slide");
                }
             });
        });
        
    </script>
    {% block script %}{% endblock %}
    <link rel="stylesheet" type="text/css"  href="{% static './css/main.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!--<link rel="stylesheet" type="text/css"  href="{% static './css/rate_notify.css' %}">-->
	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="{% static './css/bootstrap2-toggle.min.css' %}" rel="stylesheet">
    <script src="{% static './js/bootstrap2-toggle.min.js' %}"></script>
    
	<style>
	    
	</style>
</head>
<body>
    <header id="header" class="alt">
		<div class="logo"><a href="/index/">RateAnyWhere<span></span></a></div>
		<a href="#menu">Menu</a>
	</header>
    
    {% block banner %}{% endblock %}

    <!-- Nav -->
  
	<nav id="menu">
		<ul class="links">
			{% if request.user.is_authenticated %}
            <li><a href="/subsummary/">{{request.user}}</a></li>
            <li><a href="/logout/">logout</a></li>
            {% else %}
            <li><a href="/login/">Login</a></li>
            {% endif %}
            {% block nav %}{% endblock %}
		</ul>
	</nav>

	
    <div id="myPage" class="jumbotron text-center" style="background-color:white">
	</div>
	

	{% block main %}{% endblock %}
	{% block container %}{% endblock %}
	{% block footer %}{% endblock %}
	<script src="{% static './js/jquery.min.js' %}"></script>
    <script src="{% static './js/jquery.scrolly.min.js' %}"></script>
    <script src="{% static './js/jquery.scrollex.min.js' %}"></script>
    <script src="{% static './js/skel.min.js' %}"></script>
    <script src="{% static './js/util.js' %}"></script>
    <script src="{% static './js/main.js' %}"></script>

</body>
</html>