<html>
    {% load static %} 
<head>
    <title>{% block title %}{% endblock %}</title>
	<meta charset="big-5" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <script type='text/javascript'>
        function oAuth2() {
            
            var strEmail =  document.getElementById("emailsc").value
            var emailRule = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/;
 
            //validate ok or not
            if(strEmail.search(emailRule)!= -1){
                alert("email正確"); 
            }else{
                showAlert();
            }
            
            
		    var vemail = document.getElementById("emailsc").value
            var URL = 'https://notify-bot.line.me/oauth/authorize?';
            URL += 'response_type=code';
            URL += '&client_id=nch5lTjwJmgdHwx5Ar4oaJ';
            URL += '&redirect_uri=https://test-pro-tiomor4n.c9.io/index/';
            URL += '&scope=notify';
            URL += '&state=';
			URL += vemail;
            //window.location.href = URL;
			alert(URL);
        }
        
        function showAlert(){
            $("#myAlert").addClass("in")
        }
        
        function teststart(){
            document.getElementById("linecode").value = 'test';
        }
        document.ready(showemail);
        
        function showemail(){
            document.getElementById("email").value =  getParameterByName('state',window.location);
        }
        
        function showcode(){
              document.getElementById("mytextbox").value = getParameterByName('code',window.location);
        };
        
        function getParameterByName(name, url) {
            if (!url) {
                url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
        
        (window).scroll(function() {
            (".slideanim").each(function(){
                var pos = (this).offset().top;
                var winTop = (window).scrollTop();
                if (pos < winTop + 600) {
                    (this).addClass("slide");
                }
             });
        });
        
    </script>
    {% block script %}{% endblock %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css"  href="{% static 'rate_notify.css' %}">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
	    
	</style>
</head>
<body>
    
    <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/index/">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
        <li><a href="/subsummary/">{{request.user}}</a></li>
        <li><a href="/logout/">logout</a></li>
        {% else %}
        <li><a href="/login/">Login</a></li>
        {% endif %}
        {% block nav %}{% endblock %}
      </ul>
    </div>
  </div>
</nav>
    <div id="myPage" class="jumbotron text-center" >
	    <h1>訂閱RateAnyWhere Line Notify<h1>
		<p>訂閱屬於你的匯率通知</p>
	</div>
	
	{% block container %}{% endblock %}
	{% block footer %}{% endblock %}
</body>
</html>