<html>
    {% load static %}  
<head>
    <title>連結到LineNotify</title>
	<meta charset="big-5" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <script type='text/javascript'>
        function oAuth2() {
            
            var strEmail =  document.getElementById("emailsc").value
            var emailRule = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/;
 
            //validate ok or not
            if(strEmail.search(emailRule)!= -1){
                alert("email正確"); 
            }else{
                showAlert();
            }
            
            
		    var vemail = document.getElementById("emailsc").value
            var URL = 'https://notify-bot.line.me/oauth/authorize?';
            URL += 'response_type=code';
            URL += '&client_id=nch5lTjwJmgdHwx5Ar4oaJ';
            URL += '&redirect_uri=https://test-pro-tiomor4n.c9.io/index/';
            URL += '&scope=notify';
            URL += '&state=';
			URL += vemail;
            //window.location.href = URL;
			alert(URL);
        }
        
        function showAlert(){
            $("#myAlert").addClass("in")
        }
        
        function teststart(){
            document.getElementById("linecode").value = 'test';
        }
        document.ready(showemail);
        
        function showemail(){
            document.getElementById("email").value =  getParameterByName('state',window.location);
        }
        
        function showcode(){
              document.getElementById("mytextbox").value = getParameterByName('code',window.location);
        };
        
        function getParameterByName(name, url) {
            if (!url) {
                url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
        
        (window).scroll(function() {
            (".slideanim").each(function(){
                var pos = (this).offset().top;
                var winTop = (window).scrollTop();
                if (pos < winTop + 600) {
                    (this).addClass("slide");
                }
             });
        });
      
    </script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css"  href="{% static 'rate_notify.css' %}">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/index/">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#contact">CONTACT</a></li>
        {% if request.user.is_authenticated %}
        <li><a href="">{{request.user}}</a></li>
        <li><a href="/logout/">logout</a></li>
        {% else %}
        <li><a href="/login/">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
    <div id="myPage" class="jumbotron text-center" >
	    <h1>訂閱RateAnyWhere Line Notify<h1>
		<p>訂閱屬於你的匯率通知</p>
	</div>
	
	<div id="about" class="container">
    	<div class="row">
	        <div class="container-fluid">
	            <div class="col-sm-8">
	                <h2>即時通知訊息</h2>
	                <p>讓你即時知道想知道的匯率資訊</p>
	            </div>     
	            <div class="col-sm-4">
	                <span class="glyphicon glyphicon-time logo"></span>
	            </div>
	        </div><!--class="container-fluid"-->
	    </div>
    
	<div class="container-fluid bg-grey">
		<div class="row">
			<div class="col-sm-8">
				<h2>貼近你的使用</h2>
				<p>使用你最熟悉的媒介通知訊息</p>
			</div>
			<div class="col-sm-4">
				<span class="glyphicon glyphicon-phone logo"></span> 
			</div>
		</div>
	</div>
	<div id="subscribe" class="container">
	    <div class="row">
	        <div class="col-sm-12 text-center">
	           <h2>馬上訂閱</h2>
	        </div>  
	    </div>  
	    <div class="col-sm-12 text-center">    
	       <form class="form-inline">
                <div class="input-group">
				    <input type="email" id="emailsc" class="form-control" size="50" placeholder="Email Address" required>
			        <div class="input-group-btn">
                        <button type="button" class="btn btn-danger" onclick="oAuth2();">Subscribe</button>
                   </div>
                </div>
                
            </form>
            <div div id="myAlert" class="alert alert-danger fade" data-alert="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                email輸入錯誤
            </div>
        </div>
    </div>
    <div class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>如有意見可回饋給我們!</p>
      <p><span class="glyphicon glyphicon-envelope"></span> tiomor4n@gmail.com</p> 
    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="emailcont" name="emailcont" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div> 
    </div>
  </div>
</div>
    </div>
    <footer class="container-fluid text-center">
        <a href="#myPage" title="To Top">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
        <p>回到頁首</p> 
     </footer>
    
</body>
</html>