{% extends 'base.html' %}

{% block title %}歡迎使用Line Notify{% endblock %}

{% block container %}
<div id="about" class="container">
    	<div class="row">
	        <div class="container-fluid">
	            <div class="col-sm-8">
	                <h2>即時通知訊息</h2>
	                <p>讓你即時知道想知道的匯率資訊</p>
	            </div>     
	            <div class="col-sm-4">
	                <span class="glyphicon glyphicon-time logo"></span>
	            </div>
	        </div><!--class="container-fluid"-->
	    </div>
    
	<div class="container-fluid bg-grey">
		<div class="row">
			<div class="col-sm-8">
				<h2>貼近你的使用</h2>
				<p>使用你最熟悉的媒介通知訊息</p>
			</div>
			<div class="col-sm-4">
				<span class="glyphicon glyphicon-phone logo"></span> 
			</div>
		</div>
	</div>
	<div id="subscribe" class="container">
	    <div class="row">
	        <div class="col-sm-12 text-center">
	           <h2>馬上訂閱</h2>
	        </div>  
	    </div>  
	    <div class="col-sm-12 text-center">    
	       <form class="form-inline">
                <div class="input-group">
				    <input type="email" id="emailsc" class="form-control" size="50" placeholder="Email Address" required>
			        <div class="input-group-btn">
                        <button type="button" class="btn btn-danger" onclick="oAuth2();">Subscribe</button>
                   </div>
                </div>
                
            </form>
            <div div id="myAlert" class="alert alert-danger fade" data-alert="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                email輸入錯誤
            </div>
        </div>
    </div>
    <div class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>如有意見可回饋給我們!</p>
      <p><span class="glyphicon glyphicon-envelope"></span> tiomor4n@gmail.com</p> 
    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="emailcont" name="emailcont" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div> 
    </div>
  </div>
</div>
    </div>
{% endblock %}

{% block footer %}
<footer class="container-fluid text-center">
        <a href="#myPage" title="To Top">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
        <p>回到頁首</p> 
     </footer>
{% endblock %}