{% extends 'base.html' %}

{% block title %}訂閱Line Notify{% endblock %}

{% block nav %}
<li><a href="/index/">回到首頁</a></li>
{% endblock %}

{% block container %}
<div class="container">
    <p><h2>{{request.user}} 您好,以下是你的訂閱通知內容:</h2></p>
    
    {% if ldata|length > 0%}
    <table class="table table-striped">
    <thead>
      <tr>
        <th>幣別</th>
        <th>B/S</th>
        <th>目標匯率</th>
      </tr>
    </thead>
    <tbody>
      {% for L in ldata %}
      <tr>
        <td>{{ L.ccy }}</td>
        <td>{{ L.BS }}</td>
        <td>{{ L.exrate }}</td>
        <td><a href="/subscribe/?id={{ L.id }}"><button type="button" class="btn btn-danger">修改</button></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h1>你尚未輸入資料</h1>
  {% endif%}
  
  {% if ldata|length < 5 %}
     <a href="/subscribe/"><button type="button" class="btn btn-danger">新增資料</button></a>
  {% else %}
  <h1>已達上限5筆</h1>
  {% endif %}

  
</div>
{% endblock %}