Django==1.9.7
django-crispy-forms==1.6.1
google-api-python-client==1.6.1
html5lib==0.9999999
httplib2==0.10.3
oauth2client==4.0.0
olefile==0.44
pillow==4.0.0
pyasn1==0.2.1
pyasn1-modules==0.0.8
pytz==2016.10
requests==2.12.4
rsa==3.4.2
six==1.10.0
uritemplate==3.0.0
virtualenv==15.1.0
webencodings==0.5
psycopg2==2.6.1
dj-database-url==0.4.1
gunicorn==19.6.0
appdirs==1.4.2
beautifulsoup4==4.5.3
bs4==0.0.1
packaging==16.8
psycopg2==2.6.1
pyparsing==2.1.10
requests==2.13.0
six==1.10.0
whitenoise==2.0.6
